header{
    background: url(./source/background.png);
    background-size: cover;
    min-height: 100vh;
    overflow: hidden;
}
.cont{
    min-height: 70vh;
}
img{
    object-fit: cover;
    padding-top: -20vh;
}
hr {border: 3px solid #666;
    border-radius: 300px/10px;
    height: 0px;
    text-align: center;}
ul{
    display: flex;
    list-style: none;
}
li{
    padding: 5vh;
}
a{
    text-decoration: none;
}

.my-intro, .my-name{
    font-family: 'Prata', serif;
    color:black;
}
